/IPC/practica5/nbproject/private/
/IPC/pract5/nbproject/private/
/IPC/practfive/nbproject/private/
/IPC/practfive/build/
/IPC/practfive/dist/
/IPC/pract51/nbproject/private/
/IPC/pract51/dist/
/IPC/pract51/build/
/IPC/Pract7/nbproject/private/
/IPC/Pract7/build/
/IPC/Pract7/dist/